<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935039036476-cm9gd06dueeaa4ia38asoebgiab51c90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935039036476-cm9gd06dueeaa4ia38asoebgiab51c90</string>
	<key>API_KEY</key>
	<string>AIzaSyCoqbt9GrgbzOmGOEHVmuI_BpbQWDbvC48</string>
	<key>GCM_SENDER_ID</key>
	<string>935039036476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathan-beaumont.White-Mountain-Peak-Tracker</string>
	<key>PROJECT_ID</key>
	<string>white-mountains-peak-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>white-mountains-peak-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935039036476:ios:a0a055e4af7535f162e739</string>
</dict>
</plist>